@media screen and  (max-width: 525px){
    .main-title{
        padding: 100px 20px 20px 20px;
    }
    .main-info-about-us-images{
        display: flex;
        flex-direction: column;
        padding-left: unset;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
    }
    .main-info-about-us-image{
        width: 200px;
        height: 200px;
        overflow: hidden;
        text-align: unset;
    }
    .main-info-about-us-image-e {
        width: 200px;
        height: 200px;
        overflow: hidden;
        text-align: unset;
    }
    .main-info-about-us-text{
        font-size: 25px;
        font-weight: bold;
        color: #ffe023;
        margin-top: 20px;
    }
}